body{
    background-color: darkblue;
}

.forecasts-container{
    background-color: gray;
    margin: auto;
    margin-top: 50px;
    border-radius: 4%;
    border-width: 2px;
    border-style: solid;
    width: fit-content;
}

.city-form{
    margin:auto;
    color: gold;
    width: fit-content;
    font-weight: bold;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.city-form input{
    margin-left: 5px;
    font-size: 20px;
}
